* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/**************************  menu ************************* */
.main-header {
    background-color: rgb(32, 32, 32);
    color: #C20054;
    display: flex;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;*/
}

.icon {
    padding: 10px;
    color: #C20054;
    font-size: 2em;
    cursor: pointer;
    display: none;


}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.nabvar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.icon:active {
    background-color: #cf3c00;
}

.menu {
    list-style: none;


    display: flex;

    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: auto
}

.menu-item {
    position: relative;
}


.submenu {

    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: rgba(2, 2, 2, 0.822);
    overflow: hidden;
    max-height: 0px;
    transition: 200ms
}

.menu-item:hover>.submenu {
    max-height: 200px;

}

.menu-link {
    display: block;
    padding: 1em;


    text-decoration: none;
    color: #c5c5c5;
}


.menu-link:hover {
    background-color: #05050571;
    color: #c5c5c5;
}



.active {
    font-weight: bold;
    color: #c5c5c5;
}


.detalle {
    text-decoration: none;
    color: #c5c5c5;

}



.nabvar img {
    width: 210px;
    height: 100px;
}

/* *************************  banner ************************* */


#banner {
    background: #fff;
    width: 600px;
    height: 500px;
    margin: 40px auto;
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}

#banner .ficha {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    float: left;
    overflow: hidden;
    border-left: 10px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
    transform: skewX(-20deg);
    transition: width 1.2s ease-in-out;
}

#banner:hover div {
    width: 108px;
    cursor: w-resize;
}

#banner:hover div:hover {
    width: 392px;
}

.ficha img {
    margin-left: -55px;
    transform: skewX(20deg);


    width: 650px;
    height: 550px;

}

#banner>div:first-child {
    margin-left: -63px;
}

#banner>div:last-child {
    margin-right: -63px;
}



/* *************************  cartas ************************* */



.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 3em;


    outline: 10px dashed #d7fa2a;
    box-shadow: 0 0 0 10px #C20054;
    animation: 1s animateBorderOne ease infinite;


    background-color: #fff;
    transition: all .3s;


}


@keyframes animateBorderOne {
    to {
        outline-color: #d815ff;
        box-shadow: 0 0 0 10px #00d3b7;
    }
}





.card {
    border-radius: 15px;
    box-shadow: 2px 2px 5px gray;
    overflow: hidden;
    box-shadow: 0 0 40px #76078c;


}






.card-img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-color: #000;
}




.card-content {
    padding: 1em;


}


.uno {
    color: #00d3b7;
    text-shadow: 0 0 20px #0300ca;
    text-align: center;

    animation: resplandor .5s infinite alternate;

}



@keyframes resplandor {
    to {
        text-shadow: 0 0 10px #ffed17;
    }
}






/* ************************* footer ************************* */


.footer {
    background-color: rgb(32, 32, 32);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c5c5c5;
    font-size: 1em;
    text-align: center;

}
